.box-2 {
  width: fit-content;
  > .content {
    $bg-color: #f8f9fa;
    width: 400px;
    height: 400px;
    border: 2px dashed $bg-color;
    background: {
      color: $bg-color;
      size: 20px 20px;
      image: linear-gradient(90deg, rgba(200, 200, 200, 0.3) 1px, transparent 1px),
        linear-gradient(rgba(200, 200, 200, 0.3) 1px, transparent 1px);
    }
    cursor: pointer;
  }
}
